@model LabHelloMvc.Models.Person

@{
    ViewData["Title"] = "Home Page";
}

<html>
    <head>
        <title>All Persons</title>
        </head>
    <body>
        <h1>Person Details</h1>
        <p><strong>First Name:</strong> @Model.FirstName</p>
        <p><strong>Last Name:</strong> @Model.LastName</p>
        <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
        <p><strong>Email:</strong> @Model.Email</p>
    </body>
</html>